<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iamport.kr.iamportkcpandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="kr.iamport.sample.MainActivity" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ISP, Bankpay, 카드사앱, PAYCO 모두 scheme에 대한 intent-filter가 없어도 자동으로 복귀하게 됩니다 -->
            <!-- 본 예제의 경우 WebView로 결제프로세스를 시작하는 Activity로 복귀해야 하므로 singleInstance를 선언합니다 -->
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="iamporttest" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>